.accomodation {
  min-height: 75vh;

  &-intro {
    margin: $margin-eight 0;

    h3,
    p {
      text-align: center;
    }

    h3 {
      text-transform: uppercase;
    }
  }

  &-info {
    display: flex;
  }

  &-text {
    padding: $padding-three;
    margin-bottom: $margin-eight;
  }
}

.carousel {
  width: 600px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .accomodation {
    &-info {
      display: flex;
      flex-direction: column;
    }
  }

  .carousel {
    margin: 0 auto;
  }
}

@media screen and (max-width: 425px) {
  .accomodation {
    &-intro {
      margin: $margin-four 0;
    }
  }

  .carousel {
    width: 320px;
  }
}

@media screen and (max-width: 320px) {
  .carousel {
    width: 300px;
  }
}
