.footer {
  background-color: $first-color;

  &-text {
    display: flex;
    align-items: center;
    padding: $padding-two 0;

    p {
      margin: 0 auto;
      color: white;
    }
  }

  &-year {
    background-color: $second-color;
    text-align: center;
    padding: $padding-one 0;
    font-size: 14px;
    color: white;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    &-text {
      display: flex;
      flex-direction: column;
      text-align: center;

      p {
        padding: 10px 0;
      }
    }
  }
}
