.jumbotron {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  &-text {
    padding: 0 40px;
    text-align: center;

    h1 {
      padding-bottom: 40px;
      text-transform: uppercase;

      span {
        color: $third-color;
        font-weight: bold;
      }
    }

    p {
      padding-bottom: 20px;
    }
  }

  img {
    height: 600px;
    width: auto;
  }
}

.schedule {
  padding-top: 60px;

  &-image {
    background: url("../images/schedule.svg") no-repeat;
    height: 700px;
    width: auto;
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
  }

  h3 {
    padding-bottom: 20px;
    text-transform: capitalize;
  }

  &-contact {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 42px;

    &-line {
      background: $third-color;
      height: 6px;
      width: 337px;
      margin-bottom: 90px;
    }
  }

  p {
    text-align: center;
  }

  &-form {
    display: flex;
    flex-direction: column;

    input {
      width: 700px;
    }

    a {
      width: 300px;
      margin-top: 20px;
      align-self: center;
    }
  }
}

.primary-button {
  @include button-primary-fill;
}

// MEDIA QUERY

@media screen and (max-width: 1440px) {
  .schedule {
    &-image {
      left: -80px;
    }
    &-contact {
      &-line {
        width: 280px;
      }
    }

    &-form {
      position: relative;
      margin-bottom: 40px;
      input {
        width: 500px;
      }
    }
  }

  h3 {
    font-size: 21px;
  }
}

@media screen and (max-width: 1024px) {
  .jumbotron {
    img {
      height: 400px;
    }
    &-button {
      width: 80px;
      font-size: 16px;
    }
  }

  .schedule {
    &-image {
      left: -300px;
    }
  }
}

@media screen and (max-width: 768px) {
  .jumbotron {
    img {
      height: 340px;
    }

    &-text {
      h1 {
        font-size: 26px;
      }

      p {
        font-size: 14px;
      }

      a {
        font-size: 12px;
      }
    }
  }

  .schedule {
    &-image {
      left: -380px;
    }
  }
}

@media screen and (max-width: 425px) {
  .jumbotron {
    display: flex;
    flex-direction: column;

    &-text {
      order: 1;
      margin-top: 40px;
    }
  }

  .schedule {
    &-contact {
      &-line {
        width: 240px;
      }

      p {
        font-size: 14px;
        padding: 0 20px;
      }
    }
    &-image {
      display: none;
    }

    &-form {
      input {
        width: 300px;
      }
    }
  }
}
