body {
  background-color: $second-grey;
}

.hero {
  background-color: $second-color;
  background-image: url("../images/couple.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  height: 597px;

  &-layout {
    display: flex;
    justify-content: flex-start;
    padding-top: $padding-eight;

    img {
      height: 600px;
      width: auto;
    }

    &-text {
      color: #fff;

      h3 {
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 4px;
      }

      h1 {
        text-transform: uppercase;
      }
      p {
        margin: $margin-six 0;
      }
    }
  }

  &-button {
    @include button-fill;

    &:hover {
      color: white;
      background-color: $third-color;
    }
  }
}

.contact {
  background-color: $second-grey;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    color: $first-color;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
  }

  p {
    position: relative;
    margin-top: $margin-three;
    text-align: center;
  }

  &-block {
    margin-top: $margin-one;
    height: 10px;
    width: 350px;
    background-color: $first-color;
  }

  &-bottom {
    align-self: center;
    margin-top: $margin-two;
    @include button-fill;

    &:hover {
      color: $second-grey;
    }
  }
}

.form {
  margin-top: $margin-six;
  display: flex;
  flex-direction: column;

  &-label {
    display: flex;
    flex-direction: row;
  }

  input {
    width: 300px;
    margin: 0 $margin-three;
    padding: $padding-one;
  }

  textarea {
    width: 720px;
    margin-top: $margin-two;
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    &-layout {
      display: flex;
      flex-direction: column;
    }
  }
}
