// colored color

$first-color: #79223d;
$second-color: #522e38;
$third-color: #d5679a;
$fourth-color: #ffe0e9;

// grey color

$first-grey: #e4e4e4;
$second-grey: #cdcdcd;
$third-grey: #b2b2b2;

// padding
$padding-one: 10px;
$padding-two: 20px;
$padding-three: 30px;
$pdding-four: 40px;
$padding-five: 50px;
$padding-six: 60px;
$padding-seven: 70px;
$padding-eight: 80px;

// margin
$margin-one: 10px;
$margin-two: 20px;
$margin-three: 30px;
$margin-four: 40px;
$margin-five: 50px;
$margin-six: 60px;
$margin-seven: 70px;
$margin-eight: 80px;
