#logo {
  width: 300px;
  height: auto;
}

.navbar ul li {
  text-transform: uppercase;
}

.navbar ul li a:hover {
  color: #522e38;
}

.navbar {
  position: relative;
  padding-right: 320px;
}

.nav-item {
  padding: 0 10px;
}

.nav-item a {
  color: #79223d;
}

.bookmark {
  background: url(../images/bookmark.svg) no-repeat;
  background-position: top right;
  position: absolute;
  top: 0;
  right: 0;
  height: 200px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bookmark a {
  position: relative;
  top: 50px;
  right: -70px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 21px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(213, 103, 154)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #d5679a;
}

@media screen and (max-width: 1440px) {
  .bookmark {
    width: 200px;
  }
  .bookmark a {
    font-size: 16px;
    right: -46px;
    top: 30px;
  }
  .nav-item {
    padding: 0 5px;
    font-size: 14px;
  }
  .navbar {
    padding-right: 220px;
  }
}

@media screen and (max-width: 768px) {
  .bookmark {
    display: none;
  }
  .navbar {
    padding-right: 40px;
  }
  .nav-item {
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  #logo {
    width: 180px;
  }
  .navbar {
    padding-right: 20px;
  }
}

.jumbotron {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jumbotron-text {
  padding: 0 40px;
  text-align: center;
}

.jumbotron-text h1 {
  padding-bottom: 40px;
  text-transform: uppercase;
}

.jumbotron-text h1 span {
  color: #d5679a;
  font-weight: bold;
}

.jumbotron-text p {
  padding-bottom: 20px;
}

.jumbotron img {
  height: 600px;
  width: auto;
}

.schedule {
  padding-top: 60px;
}

.schedule-image {
  background: url("../images/schedule.svg") no-repeat;
  height: 700px;
  width: auto;
  position: absolute;
  right: 0;
  left: 0;
  z-index: -1;
}

.schedule h3 {
  padding-bottom: 20px;
  text-transform: capitalize;
}

.schedule-contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 42px;
}

.schedule-contact-line {
  background: #d5679a;
  height: 6px;
  width: 337px;
  margin-bottom: 90px;
}

.schedule p {
  text-align: center;
}

.schedule-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.schedule-form input {
  width: 700px;
}

.schedule-form a {
  width: 300px;
  margin-top: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.primary-button {
  background-color: #d5679a;
  text-align: center;
  width: 400px;
  padding: 15px 60px;
  border-radius: 30px;
  color: #fff;
  text-transform: uppercase;
}

.primary-button:hover {
  color: #e4e4e4;
  -webkit-filter: brightness(0.99);
          filter: brightness(0.99);
  text-decoration: none;
}

@media screen and (max-width: 425px) {
  .primary-button {
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 1440px) {
  .schedule-image {
    left: -80px;
  }
  .schedule-contact-line {
    width: 280px;
  }
  .schedule-form {
    position: relative;
    margin-bottom: 40px;
  }
  .schedule-form input {
    width: 500px;
  }
  h3 {
    font-size: 21px;
  }
}

@media screen and (max-width: 1024px) {
  .jumbotron img {
    height: 400px;
  }
  .jumbotron-button {
    width: 80px;
    font-size: 16px;
  }
  .schedule-image {
    left: -300px;
  }
}

@media screen and (max-width: 768px) {
  .jumbotron img {
    height: 340px;
  }
  .jumbotron-text h1 {
    font-size: 26px;
  }
  .jumbotron-text p {
    font-size: 14px;
  }
  .jumbotron-text a {
    font-size: 12px;
  }
  .schedule-image {
    left: -380px;
  }
}

@media screen and (max-width: 425px) {
  .jumbotron {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .jumbotron-text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 40px;
  }
  .schedule-contact-line {
    width: 240px;
  }
  .schedule-contact p {
    font-size: 14px;
    padding: 0 20px;
  }
  .schedule-image {
    display: none;
  }
  .schedule-form input {
    width: 300px;
  }
}

.accomodation {
  min-height: 75vh;
}

.accomodation-intro {
  margin: 80px 0;
}

.accomodation-intro h3,
.accomodation-intro p {
  text-align: center;
}

.accomodation-intro h3 {
  text-transform: uppercase;
}

.accomodation-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accomodation-text {
  padding: 30px;
  margin-bottom: 80px;
}

.carousel {
  width: 600px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .accomodation-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .carousel {
    margin: 0 auto;
  }
}

@media screen and (max-width: 425px) {
  .accomodation-intro {
    margin: 40px 0;
  }
  .carousel {
    width: 320px;
  }
}

@media screen and (max-width: 320px) {
  .carousel {
    width: 300px;
  }
}

.services {
  margin: 80px 0;
}

.services-intro {
  text-align: center;
  text-transform: uppercase;
}

.services-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-info img {
  width: 500px;
  height: auto;
  margin-top: 50px;
}

.services-info-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .card {
  padding: 30px;
  margin: 20px;
  width: 500px;
}

.services .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .fa {
  font-size: 48px;
  padding-bottom: 20px;
  color: #79223d;
}

@media screen and (max-width: 425px) {
  .services .card {
    width: 360px;
    padding: 10px;
    margin: 20px 0;
  }
}

.footer {
  background-color: #79223d;
}

.footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.footer-text p {
  margin: 0 auto;
  color: white;
}

.footer-year {
  background-color: #522e38;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  color: white;
}

@media screen and (max-width: 425px) {
  .footer-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer-text p {
    padding: 10px 0;
  }
}
/*# sourceMappingURL=style.css.map */