#logo {
  width: 300px;
  height: auto;
}

.navbar ul li {
  text-transform: uppercase;
}

.navbar ul li a:hover {
  color: #522e38;
}

body {
  background-color: #e4e4e4;
}

.hero {
  background-color: #522e38;
  height: 597px;
}

.hero-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-layout img {
  height: 600px;
  width: auto;
}

.hero-layout-text {
  color: #fff;
  margin-left: 50px;
}

.hero-layout-text h3 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.hero-layout-text h1 {
  text-transform: uppercase;
}

.hero-layout-text p {
  margin: 60px 0;
}

.hero-button {
  color: white;
  background-color: #d5679a;
  border: 6px solid #d5679a;
  padding: 10px 80px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 20px;
}

.hero-button:hover {
  color: #e4e4e4;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
  text-decoration: none;
}

.hero-button:hover {
  color: white;
  background-color: #d5679a;
}

.contact {
  background-color: #cdcdcd;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact h3 {
  color: #79223d;
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
}

.contact p {
  position: relative;
  margin-top: 30px;
  text-align: center;
}

.contact-block {
  margin-top: 10px;
  height: 10px;
  width: 350px;
  background-color: #79223d;
}

.contact-bottom {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 60px;
  color: white;
  background-color: #d5679a;
  border: 6px solid #d5679a;
  padding: 10px 80px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 20px;
}

.contact-bottom:hover {
  color: #e4e4e4;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
  text-decoration: none;
}

.contact-bottom:hover {
  color: #cdcdcd;
}

.form {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.form input {
  width: 300px;
  margin: 0 30px;
  padding: 10px;
}

.form textarea {
  width: 720px;
  margin-top: 20px;
}

.footer {
  background-color: #79223d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
}

.footer-text p {
  margin: 0 auto;
  color: white;
}

.footer-year {
  background-color: #522e38;
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 20px 0;
}

.accomodation-intro {
  margin: 80px 0;
}

.accomodation-intro h3,
.accomodation-intro p {
  text-align: center;
}

.accomodation-intro h3 {
  text-transform: uppercase;
}

.accomodation-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accomodation-text {
  padding: 30px;
  margin-bottom: 80px;
}

.carousel {
  width: 600px;
  height: auto;
}

.services {
  background-color: #e4e4e4;
  margin: 80px 0;
}

.services-intro {
  text-align: center;
  text-transform: uppercase;
}

.services-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-info img {
  width: 500px;
  height: auto;
  margin-top: 50px;
}

.services-info-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .card {
  padding: 30px;
  margin: 20px;
}

.services .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .fa {
  font-size: 48px;
  padding-bottom: 20px;
  color: #79223d;
}
/*# sourceMappingURL=style.css.map */